/**
 * {{properCase name}}
 */

import React from 'react';

interface Props {
	/** Description of this property */
	title?: string;
}

/** Main description for this component. */
const {{properCase name}}: React.FC<Props> = ({ children }) => {
	return (
		<div>
			{children}
		</div>
	);
};

export default {{properCase name}};
