@screen sm {
	.layout-custompage {
		@apply grid gap-4 sm:gap-6 gap-y-0 sm:gap-y-0;

		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1'
			'area-2 area-2 area-2 area-2 area-2 group-1 group-1 group-1'
			'group-2 group-2 group-2 group-2 group-2 group-1 group-1 group-1'
			'area-8 area-8 area-8 area-8 area-8 group-1 group-1 group-1'
			'. . . . . group-1 group-1 group-1';
	}
}

@screen lg {
	.layout-custompage {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1'
			'area-2 area-2 area-2 area-2 area-2 area-2 area-2 . group-1 group-1 group-1 group-1'
			'group-2 group-2 group-2 group-2 group-2 group-2 group-2 . group-1 group-1 group-1 group-1'
			'area-8 area-8 area-8 area-8 area-8 area-8 area-8 . group-1 group-1 group-1 group-1'
			'. . . . . . . . group-1 group-1 group-1 group-1';
	}
}

.layout-custompage__area-1 {
	grid-area: area-1;
}
.layout-custompage__area-2 {
	grid-area: area-2;
}
.layout-custompage__area-3 {
	grid-area: area-3;
	@apply sm:order-2;
}
.layout-custompage__area-4 {
	grid-area: area-4;
	@apply sm:order-1;
}
.layout-custompage__area-5 {
	grid-area: area-5;
	@apply sm:order-3;
}
.layout-custompage__area-6 {
	grid-area: area-6;
}
.layout-custompage__area-7 {
	grid-area: area-7;
}
.layout-custompage__area-8 {
	grid-area: area-8;
}
.layout-custompage__group-1 {
	grid-area: group-1;
	display: flex;
	flex-direction: column;
}
.layout-custompage__group-2 {
	@apply sm:grid gap-4 sm:gap-6;

	grid-area: group-2;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'area-7 area-6';
}
